h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 50px;
    padding: 0;
    margin: 0;
}
h3 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 20px;
    padding: 0;
    margin: 0;
}
span {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 20px;
    padding: 0;
    margin: 0;
}
button {
    cursor: pointer;
}
button:hover {
    border-width: 2px;
    border-color: chartreuse;
}
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.main-container {
    display: flex;
    flex: 1;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(53, 13, 91);
    box-sizing: border-box;
    padding: var(--padding_3);
}
    .logo-image {
        width: 100%;
        max-width: 580px
    }
    .input-container {
        display: flex;
        position: relative;
        width: 100%;
        max-width: 580px;
        height: 150px;
        justify-content: center;
        align-items: center;
        margin-top: var(--margin_5);
        margin-bottom: var(--margin_2);
        overflow: hidden;
    }
        .input-area {
            display: flex;
            width: 100%;
            height: 100%;
            color: white;
            border: 1px solid;
            border-color: white;
            border-radius: 20px;
            padding: var(--padding_3);
            background-color: transparent;
            box-sizing: border-box;
        }
        .bottom-container {
            display: flex;
            position: absolute;
            justify-content: space-between;
            align-items: center;
            bottom: 10px;
            width: 100%;
            padding: 0px var(--padding_2);
            padding-left: var(--padding_3);
            box-sizing: border-box;
        }
            .error-text {
                font-size: 14px;
                color: orange
            }
            .submit-button {
                border-radius: 25px;
                border: 1px solid;
                padding: var(--padding_2) var(--padding_3);
            }
                .submit-button-text {
                    font-size: 14px;
                    color: black
                }
    .suggestions-container {
        display: flex;
        flex-wrap: wrap;
        height: 40px;
        justify-content: center;
        align-items: center;
        gap: var(--gap_1);
        
    }
        .suggestion-button {
            padding: var(--padding_1) var(--padding_3);
            background-color: transparent;
            border: 1px solid;
            border-color: white;
            border-radius: var(--border_radius_1);
        }

    .response-container {
        display: flex;
        position: relative;
        width: 100%;
        max-width: 580px;
        height: 150px;
        justify-content: center;
        align-items: center;
        margin: var(--margin_2);
    }
        .response-text {
            color: rgb(212, 245, 180);
        }
    .bottom-buttons-container {
        display: flex;
        width: 100%;
        max-width: 380px;
        flex-direction: column;
        gap: var(--gap_2);
    }
        .reset-button {
            padding: var(--padding_2) var(--padding_4);
            height: 50px;
            border: 2px solid;
            border-color: white;
            border-radius: var(--border_radius_2);
            background-color: transparent;
        }
        .exit-button {
            padding: var(--padding_2) var(--padding_4);
            height: 50px;
            border: 2px solid;
            border-color: red;
            border-radius: var(--border_radius_2);
            border-bottom-right-radius: 0px;
            background-color: transparent;
        }
    .bottom-link-container {
        position: absolute;
        bottom: 20px;
        width: auto;
        height: 30px;
        border: none;
        background-color: transparent;
    }
    .bottom-link-container:hover {
        border-bottom: 1px solid;
        border-color: rgb(217, 255, 3);
        margin-bottom: -1px;
    }
        .bottom-link-text {
            font-size: 16px;
            color: rgb(217, 255, 3);
        }
